body {
    background: radial-gradient(ellipse at bottom, #1b2735 -20%,#090a0f 90%);
}

.content {
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.navigation {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100px;
    height: 100%;
}

.naviButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: .3s;
}