.loginContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px !important;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1%;
    padding: 2em;
    color: white;
    overflow: auto;
}

.on-login {
    transition: .3s;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    font-size: 2.5rem;
    pointer-events: none;
}

.off-login {
    transition: .3s;
    font-size: 16px !important;
    color: grey !important;
}

.off-login:hover { 
    cursor: pointer;
    color: white !important;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}